# Auto detect text files and perform LF normalization
* text=auto
*.data filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.dll binary
*.js binary
*.json binary
*.dat binary
*.blat binary
*.br binary
*.gz binary
_framework/** -text
